{% extends "layout.html" %}
{% block content %}
    <div class="row headline"><!-- Begin Headline -->
    
     	<!-- Slider Carousel
        ================================================== -->
        <div class="span5">
            <div class="flexslider">
              <ul class="slides">
                <li><img src="{{ url_for('static', filename='img/caro1.jpg') }}"></li>
                <li><img src="{{ url_for('static', filename='img/caro2.jpg') }}"></li>
                <li><img src="{{ url_for('static', filename='img/caro3.jpg') }}"></li>
                <!-- Photo by Magda Ehlers, Fox and Skitterphoto from Pexels -->
              </ul>
            </div>
        </div>
        
        <!-- Headline Text
        ================================================== -->
        <div class="span7">
        	<h3>Welcome to PULSE <br />
            </h3>
            <p class="lead">Hear brilliant live music, listen to various talk shows, hear debates about politics, watch ,live lessons on educational content,... </p>
            <p></p>
        </div>
    </div><!-- End Headline -->
    
    <div class="row gallery-row"><!-- Begin Gallery Row --> 
      
    	<div class="span12">
            <h5 class="title-bg">Most recent show(s)
            </h5>
    	
        <!-- Gallery Thumbnails
        ================================================== -->

            <div class="row clearfix no-margin">
            <ul class="gallery-post-grid holder">
	                    {% for show in shows.items %}
	                    <!-- Show Items -->
	                    <li  class="span3 gallery-item" data-id="id-1" data-type="illustration">
	                        <article class="media content-section">
					          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + show.author.image_file) }}">
					          <div class="media-body">
					            <div class="article-metadata">
					              <a class="mr-2" href="{{ url_for('users.user_shows', username=show.author.username) }}">{{ show.author.username }}</a>
					              <small class="text-muted">{{ show.date_posted.strftime('%Y-%m-%d') }}</small>
					            </div>
					            <h2><a class="article-title" href="{{ url_for('shows.show', show_id=show.id) }}">{{ show.title }}</a></h2>
					            <p class="article-content">{{ show.description }}</p>
					            <p class="article-content">{{ show.category }}</p>
					            <p class="article-content">{{ show.show_language }}</p>
					          </div>
					        </article>
	                    </li>	                    
                </ul>
                </div>
            </div>

 
    </div><!-- End Gallery Row -->
    {% endfor %}
    {% for page_num in shows.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if shows.page == page_num %}
          <a class="btn btn-danger mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-danger mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}