<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS
	================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href= "{{ url_for('static', filename='bootstrap.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='bootstrap-responsive.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='prettyPhoto.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='flexslider.css') }}">
	<link rel="stylesheet" href= "{{ url_for('static', filename='custom-styles.css') }}">

	<!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <link rel="stylesheet" href="css/style-ie.css"/>
	<![endif]--> 


	<!-- Favicons
================================================== -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.custom.js') }}"></script>
	<script type="text/javascript">
	$(document).ready(function () {

	    $("#btn-blog-next").click(function () {
	      $('#blogCarousel').carousel('next')
	    });
	     $("#btn-blog-prev").click(function () {
	      $('#blogCarousel').carousel('prev')
	    });

	     $("#btn-client-next").click(function () {
	      $('#clientCarousel').carousel('next')
	    });
	     $("#btn-client-prev").click(function () {
	      $('#clientCarousel').carousel('prev')
	    });
	    
	});

	 $(window).load(function(){

	    $('.flexslider').flexslider({
	        animation: "slide",
	        slideshow: true,
	        start: function(slider){
	          $('body').removeClass('loading');
	        }
	    });  
	});

	</script>
</head>

<body class="home">
    <!-- Color Bars (above header)-->
	<div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>
    
    <div class="container">
    
      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
        	<a href="{{ url_for('main.home') }}"><img src="{{ url_for('static', filename='logos/red_logo.png') }}" alt="" /></a>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone">
            
            <ul class="nav">
            <!-- Excluding li class = "active" for all columns for simplicity-->
	            <li><a href="{{ url_for('main.home') }}">Home</a></li>
	            <li><a href="{{ url_for('main.about') }}">About</a></li>
	            {% if current_user.is_authenticated %}
	            	<li><a href="{{ url_for('shows.new_show') }}">Create a Show</a></li>
	            	<li><a href="{{ url_for('users.account') }}">Account</a></li>
	            	<li><a href="{{ url_for('users.logout') }}">Logout</a></li>
              	{% else %}
              		<li><a href="{{ url_for('users.login') }}">Login</a></li>
	            	<li><a href="{{ url_for('users.register') }}">Register</a></li>
              	{% endif %}
            </ul>
           
            </div>

            <!-- Mobile Nav
            ================================================== -->
            <form action="#" id="mobile-nav" class="visible-phone">
                <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Navigate...</option>
                    <option value="{{ url_for('main.home') }}">Home</option>
                    <option value="{{ url_for('main.about') }}">About</option>
                    {% if current_user.is_authenticated %}
	                    <option value="{{ url_for('shows.new_show') }}">Create a Show</option>
	                    <option value="{{ url_for('users.account') }}">Account</option>
	                    <option value="{{ url_for('users.account') }}">Logout</option>
                    {% else %}
                    	<option value="{{ url_for('users.login') }}">Login</option>
	                    <option value="{{ url_for('users.register') }}">Register</option>

                    {% endif %}
                </select>
                </div>
                </form>

        </div>
        
      </div><!-- End Header -->
      {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
      {% block content %}{% endblock %}

</body>
</html>