{% extends "layout.html" %}
{% block content %}
    <div class="row headline"><!-- Begin Headline -->
        <div class="row">
                <div class="span6">
                    <img class="align-left thumbnail" src="{{ image_file }}">
                </div>
                <div class="span6">
                    <h2>{{ user.username }} ({{ shows.total }}) }}</h2>
                    <p class="lead"></p>
                    <p></p>

                    <ul class="project-info">
                        <li><h6>Description:</h6></li>
                        <li><h6>Catergory:</h6></li>
                        <li><h6>Language(s):</h6></li>
                    </ul>

                    <button class="btn btn-inverse pull-left" type="button">Live Now</button>
                    <button class="btn btn-inverse pull-left" type="button">   Update/View Schedule</button>
                </div>
            </div>

    </div><!-- End Headline -->
    
    <div class="row gallery-row"><!-- Begin Gallery Row --> 
      
    	<div class="span12">
            <h5 class="title-bg">Trending  
                <small></small>
                <button class="btn btn-mini btn-inverse hidden-phone" type="button">View Shows</button>
            </h5>
    	
        <!-- Gallery Thumbnails
        ================================================== -->

            <div class="row clearfix no-margin">
            <ul class="gallery-post-grid holder">
	                    {% for show in shows.items %}
	                    <!-- Show Items -->
	                    <li  class="span3 gallery-item" data-id="id-1" data-type="illustration">
	                        <article class="media content-section">
					          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + show.author.image_file) }}">
					          <div class="media-body">
					            <div class="article-metadata">
					              <a class="mr-2" href="{{ url_for('user_shows', username=show.author.username) }}">{{ show.author.username }}</a>
					              <small class="text-muted">{{ show.date_posted.strftime('%Y-%m-%d') }}</small>
					            </div>
					            <h2><a class="article-title" href="{{ url_for('show', show_id=show.id) }}">{{ show.title }}</a></h2>
					            <p class="article-content">{{ show.description }}</p>
					            <p class="article-content">{{ show.category }}</p>
					            <p class="article-content">{{ show.show_language }}</p>
					          </div>
					        </article>
	                    </li>	                    
                </ul>
                </div>
            </div>

 
    </div><!-- End Gallery Row -->
    {% endfor %}
    {% for page_num in shows.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if shows.page == page_num %}
          <a class="btn btn-danger mb-4" href="{{ url_for('user_shows', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-danger mb-4" href="{{ url_for('user_shows', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}